/* CSS Document */
body{
	background: #E9E9E9;
	font-family: 'Arima Madurai', cursive;
}
.main{
	margin-top: 4em;
}

.main .profile{
	margin-top: 1em;
}

.main .profile img{
	border-radius: 50%;
	border: 1px solid #C9C9C9;
}

.profile .card{
	padding: 0.5em;
}

.profile .username{
	color: #FD00A5;
	text-align: center;
}

.profile i{
	color: #197BFF;
}

.profile ul li{
	color: black;
}

.news i{
	color: #FF00C6;
}

.media img{
	width: 70px; 
	height: 70px;
	border: 1px solid #C9C3C3;
}

.title-allpost{
	font-size: 16px;
	color: #4D4C4C;
}

.date-allpost{
	font-size: 13px;
	float: right;
}

