/* CSS Document */

body{
	background: url(../Images/logon/Love_Heart_on_Beach_HD_Photo_Background.jpg);
	font-family: 'Cormorant Infant', serif;
}


#forget-password{
	width: 30%;
	height: 40em;
	margin: auto;
	background: rgba(255,22,210,0.59);
	margin-top: 6%;
	margin-bottom: 3em;
}

#forget-password h1{
	font-size: 35px;
	text-align: center;
	padding: 0.3em;
	margin-bottom: 0.3em;
	font-weight: bolder;
	color: white;
}


#forget-password #form-forget-password{
	padding: 1em;
}

#forget-password #form-forget-password input
{
	width: 100%;
	padding: 0.5em;
	border-radius: 1em;
	border: #E31DF7 solid 0.1em;
	margin-bottom: 2em;
}

#forget-password #form-forget-password input:hover{
	border: #F9FF2C solid 0.1em;
}


#forget-password #form-forget-password input[type="submit"]
{
	display: block;
	width: 60%;
	background: #00B3FF;
	color: white;
	font-weight: bold;
	margin: auto;
	font-size: 17px;
}
#forget-password #form-forget-password input[type="submit"]{
	border: none;
}

#forget-password #form-forget-password input[type="submit"]:hover{
	background: #57CDFF;
	border: none
}

#forget-password #form-forget-password label{
	color: white;
	font-weight: bold;
}

/*
	RESPONDSIVE
*/
 /* Extra small devices (phones, 450px and down)*/ 
@media only screen and (max-width: 450px){
	#forget-password{
		min-width: 15em;
		top: 10em;	
		}
	

	
	#forget-password #form-forget-password input[type="submit"]
	{
		width: 100%;
	}

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px){
	#forget-password{
		min-width: 17em;
		top: 8em;		
		}
	
	#forget-password #form-forget-password input{
		margin-bottom: 1em;
	}
	#forget-password #form-forget-password input[type="submit"]{
		margin-bottom: 1em;
		width: 100%;
	}
	body{
		font-size: 15px;
	}
	
}


/* Medium devices (landscape tablets, 800px and up)*/ 
@media only screen and (max-width: 800px){
	#forget-password{
		width: 50%;
		margin-top: 8em;		
		}
	
	#forget-password #form-forget-password input{
		margin-bottom: 1em;
	}
	
	#forget-password #form-forget-password input[type="submit"]
	{
		padding: 0.5em;
		font-size: 15px;
		margin-top: 1em;
	}
	
	#forget-password h1{
		font-size: 25px;
	}
	
	body{
		font-size: 15px;
	}
	
	
}



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1100px) {
	#forget-password{
	width: 35%;
		}
		#forget-password{
			margin-top: 8em;		
			}

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	/*None effect */
	#forget-password{
		margin-top: 8em;		
		}
} 


