/* CSS Document */
body{
	background: #E9E9E9;
	font-family: 'Arima Madurai', cursive;
}
.main{
	margin-top: 4em;
}

.main .profile{
	margin-top: 1em;
}

.main .profile img{
	border-radius: 50%;
	border: 1px solid #C9C9C9;
}

.profile .card{
	padding: 0.5em;
}

.profile .username{
	color: #EB00F0;
	text-align: center;
	font-weight: bolder;
}

.profile i{
	color: #016DFF;
}

.profile ul li{
	color: black;
}

.news i{
	color: #FF0258;
}
.news a{
	text-decoration: none;
}

.media img{
	width: 70px; 
	height: 70px;
	border: 1px solid #C9C3C3;
}