body{
	background: rgba(223,219,219,1.00);
}

.main-contain{
	margin-top: 5em;
}

/* sidebar */
.card  .card-header{
	background: #FF8E00;
	color: white;
	padding: 20px;
	
}

.accordion .card .card-header{
	background: #FC9C24;
	padding: 5px;
}

.accordion .card .card-header button{
	color: white;
	text-decoration: none;
	
}

.accordion .card .collapse .list-group-item a{
	text-decoration: none;
	color: white;
}

.accordion .card .collapse .list-group-item{
	background: #FBAD06;
}

.accordion .card .collapse .list-group-item:hover{
	background:  #FCC34A;
	color: white;
}

/* Main section */

.card .card-main-header{
	background: #FF2892;
}

/* Nhan new, hot, discount */
.corner-ribbon{
	width: 100px;
	background: #e43;
	position: absolute;
	top: 15px;
	right: -25px;
	text-align: center;
	line-height: 20px;
	letter-spacing: 1px;
	color: #f0f0f0;
	left: auto;
  	transform: rotate(45deg);
  	-webkit-transform: rotate(45deg);

}
.corner-ribbon.shadow{
	box-shadow: 0 0 3px rgba(0,0,0,.3);
}
.ribbon-new{
	/* background:url(../Images/san-pham/new.png) no-repeat; */
	background: green;
	background-size: cover;
}
.ribbon-hot{
	/* background:url(../Images/san-pham/hot.png) no-repeat; */
	background: #e43;
	background-size: cover;
}
.ribbon-discount{
	/* background:url(../Images/san-pham/discount.png) no-repeat; */
	background: blue;
	background-size: cover;
}

.card .card-product{
	overflow: hidden;
	border-radius: 25px;
}

.card .card-product:hover{
	box-shadow: 2px 2px 5px 5px #888888;
}

.card .card-text{
	height: 40px;
	overflow-y: auto;
	color: #FC38A6;
}

.card-title{
	color: #F800B1;
	font-weight: bolder;
}

.price{
	color:#FB0046;
	font-weight: bold;
}

.user-name{
	color: #9E00AD;
}
.type-info{
	color: #5100E7;
}





