body{
	background: white;
}

.main-contain{
	margin-top: 5em;
	font-family: 'Playfair Display', serif;
}

/* sidebar */
.card  .card-header{
	background: #24344b;
	color: white;
	padding: 20px;
	
}

.accordion .card .card-header{
	background: #2c3d59;
	padding: 5px;
}

.accordion .card .card-header button{
	color: #d9ecfb;
	text-decoration: none;
	
}

.accordion .card .collapse .list-group-item a{
	text-decoration: none;
	color: #d9ecfb;
}

.accordion .card .collapse .list-group-item{
	background: #334768;
}

.accordion .card .collapse .list-group-item:hover{
	background: #445475;
}


/* Main section */

.card .card-main-header{
	background: #FF2892;
}

.card-main .card-main-header .container-fluid .row .text-head{
	font-size: 20px;
}

.card-main .card-main-header .container-fluid .row .text-chose{
	font-size: 15px;
}

/* Nhan new, hot, discount */
.corner-ribbon{
	width: 100px;
	background: #e43;
	position: absolute;
	top: 15px;
	right: -25px;
	text-align: center;
	line-height: 20px;
	letter-spacing: 1px;
	color: #f0f0f0;
	left: auto;
  	transform: rotate(45deg);
  	-webkit-transform: rotate(45deg);
}
.corner-ribbon.shadow{
	box-shadow: 0 0 3px rgba(0,0,0,.3);
}
.ribbon-new{
	/* background:url(../Images/san-pham/new.png) no-repeat; */
	background: green;
	background-size: cover;
}
.ribbon-hot{
	/* background:url(../Images/san-pham/hot.png) no-repeat; */
	background: #e43;
	background-size: cover;
}
.ribbon-discount{
	/* background:url(../Images/san-pham/discount.png) no-repeat; */
	background: blue;
	background-size: cover;
}

.card .card-product{
	overflow: hidden;
	border-radius: 25px;
}

.card .card-product:hover{
	box-shadow: 2px 2px 5px 5px #888888;
}

.card .card-text{
	height: 40px;
	font-size: 20px;
	overflow-y: auto;
	color: black;
}

.card-title{
	color: black;
	font-weight: bolder;
}

.price{
	color:black;
	font-weight: bold;
}

.user-name{
	color: black;
}
.type-info{
	color: black;
}

.card-body ul li{
	padding: 7px;
}

/* Style The Dropdown Button */
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
	display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}


#pricediscount{
		font-size: 15px; 
		color: red;
	}
	
	#priceorginal{
		font-size: 12px; 
		text-decoration: line-through; 
		color: black;
	}
	
	#person a {
		text-decoration: none;
		color: black;
	}
	
	#person a:hover{
		color: #989898;
	}
	
	.product .card-product i{
		color: #28A5FF;
	}
	
	.product .card-product{
		border: 10px solid transparent; 
		padding: 15px;
		width: 18rem;
		float: left; 
		margin-left: 30px;
		margin-top: 20px;
	}

/* respondsive */
@media only screen and (max-width: 1333px){
	.product .card-product{
		margin-left: 100px;
	}
}


@media only screen and (max-width: 1170px){
	.product .card-product{
		margin-left: 50px;
	}
}

@media only screen and (max-width: 960px){
	
	.product .card-product{
		margin-left: 20px;
	}
}

@media only screen and (max-width: 880px){
	
	.product .card-product{
		margin-left: 100px;
	}
}

@media only screen and (max-width: 770px){
	
	.product .card-product{
		margin-left: 30px;
	}
}


@media only screen and (max-width: 675px){

	.product .card-product{
		margin-left: 100px;
	}
}

@media only screen and (max-width: 500px){
	.product .card-product{
		margin-left: 20px;
	}
}


/*
	body{
		background: #7411EF;
	}

*/


