body{
	background: url(../Images/logon/Instagram.jpg);
}

/* button */
.btn-type-blue, .btn-type-purple, .btn-type-pink{
	float: right;
	margin-top: 10px;
	color: white;
}
.btn-type-blue{
	background: #318FFF;
}
.btn-type-blue:hover{
	background: #5BA5FF;
}
.btn-type-purple{
	background: #b72bff;
}
.btn-type-purple:hover{
	background: #D178FF;
}
.btn-type-pink{
	background: #6505FF;
}
.btn-type-pink:hover{
	color: white;
	background: #863BFF;
}

.navbar{
    min-height: 20px !important;
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-nav > li > a, navbar-brand{
    padding-top: 6px !important;
    padding-bottom: 0 !important;
    height: 33px;
}


/* NavBar custome color */
.navbar {
    background-color: rgba(255,255,255,0.68);
  }
  .navbar .navbar-brand {
    color: #ecf0f1;
  }
  .navbar .navbar-brand:hover,
  .navbar .navbar-brand:focus {
    color: #ecdbff;
  }
  .navbar .navbar-text {
    color: #ecf0f1;
  }
  .navbar .navbar-text a {
    color: #ecdbff;
  }
  .navbar .navbar-text a:hover,
  .navbar .navbar-text a:focus {
    color: #ecdbff; 
  }
  .navbar .navbar-nav .nav-link {
    color: white;
	font-weight: bold;
    border-radius: .25rem;
    margin: 0 0.25em;
  }
  .navbar .navbar-nav .nav-link:not(.disabled):hover,
  .navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #ecdbff;
  }
  .navbar .navbar-nav .nav-item.active .nav-link,
  .navbar .navbar-nav .nav-item.active .nav-link:hover,
  .navbar .navbar-nav .nav-item.active .nav-link:focus,
  .navbar .navbar-nav .nav-item.show .nav-link,
  .navbar .navbar-nav .nav-item.show .nav-link:hover,
  .navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #ecdbff;
    background-color: #c906f7;
  }
  .navbar .navbar-toggle {
    border-color: #c906f7;
  }
  .navbar .navbar-toggle:hover,
  .navbar .navbar-toggle:focus {
    background-color: #c906f7;
  }
  .navbar .navbar-toggle .navbar-toggler-icon {
    color: #ecf0f1;
  }
  .navbar .navbar-collapse,
  .navbar .navbar-form {
    border-color: #ecf0f1;
  }
  .navbar .navbar-link {
    color: #ecf0f1;
  }
  .navbar .navbar-link:hover {
    color: #ecdbff;
  }
.card, .user-detail-section .table-striped,.profile a,.profile a:hover{
	background: rgba(255,255,255,0.00);
}	
.card .user-detail-section, .profile{
	background: rgba(255,255,255,0.50);
	color: white;
}
  
  .main-color-bg{
    background-color: rgba(46,121,255,0.57)!important;
    color: white;
  }
/* màu nền của tiêu đề main-section */
.main-color{
	background: rgba(0,111,216,0.62);
	color: white;
}
.card .main-color i{
	color: white;
}
  /* Custome Header */
  #header{
      background: rgba(255,255,255,0.51);
      color: #ffffff;
      padding-bottom: 10px;
      margin-bottom: 15px;
  }

  #header .create{
      margin-top: 10px;
  }
.well h6{
	color: white;
}

.card .card-body .row .col-md-3 i{
	
}
.card .main-color-bg{
	background: rgba(0,147,255,0.50);
}

#seeDetailProfile{
	background: rgba(255,255,255,0.30);
	color: white;
}
#seeDetailProfile:hover{
	background: rgba(255,255,255,0.64);
}
	
.card .user-detail-section .table-striped  tbody tr td a{
	color: white;
}
.card .user-detail-section .table-striped  tbody tr td a:hover{
	color: wheat;
}
  /* Progress bar */
  .progress-bar{
    background: #0073ED;
    color: white;
  }

  .main-card-overview{
    background: rgba(255,255,255,0.56);
    padding: 10px;
    color: rgba(159,159,159,1.00);
    text-align: center;
  }
.main-card-overview h2 i{
	color: rgba(159,159,159,1.00);
}
.cardsection{
	background: rgba(255,255,255,0.53);
}

.cardsection{
	color: white;
}

    /*pages */
    .color-font-btn{
      color: white;
    }

.list-group a{
	background: rgba(255,255,255,0.60);
	color: white;
}
.list-group a i{
	color: white;
}
.list-group a:hover{
	background: rgba(255,255,255,0.74);
	color: white;
}

  @media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #ecf0f1;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #ecdbff;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #ecdbff;
      background-color: #c906f7;
    }
  }
  
  @media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #ecf0f1;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #ecdbff;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #ecdbff;
      background-color: #c906f7;
    }
  }
  
  @media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #ecf0f1;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #ecdbff;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #ecdbff;
      background-color: #c906f7;
    }
  }
  
  @media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #ecf0f1;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #ecdbff;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #ecdbff;
      background-color: #c906f7;
    }
  }
  
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ecdbff;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ecdbff;
    background-color: #c906f7;
  }