.fullpage{
	margin-top: 4em;
	font-family: 'Arsenal', sans-serif;
	padding: 20px;
	background: url(../Images/logon/JShine.jpg);
}

.ques{
	background: #F6F4F5;
	font-size: 18px;
	height:  30em;
	overflow-y: auto;
	border-radius: 15px;
}

.ans{
	background: #E7E7E7;
	color: black;
	font-size: 22px;
	padding: 25px;
	border-radius: 15px;
	height: 25em;
	overflow-y: auto;
}

.nav-link:hover{
	background: #D800FF;
	color: white;
}