.container-fluid{
	margin-top: 5em;
	font-family: 'Cormorant Upright', serif;
}

.main-question{
	color: #FFA028;
}
.main-question i{
	color: #FFA028;
}

.main-answer{
	font-size: 23px;
	color: #606060;
}

.sidebar-ques{
	font-size: 19px;
}