/* CSS Document */


/*****************globals*************/
body{
	background: white !important;
}

.mainsection{
	background: url(../Images/Promotion/pexels-photo-412295.jpeg);
	font-family: 'Dancing Script', cursive;
}

.container-fluid{
  font-family: 'open sans';
  overflow-x: hidden; 
	color: white;
}

img {
  max-width: 100%; 	
}

.zoom{
	padding: 10px;
    transition: transform .1s;
    width: 400px;
    height: 400px;
    margin: auto auto;
}

.zoom:hover {
    transform: scale(1.5); 
}

.preview {
	height: 45em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (max-width: 600px) {
    .preview {
      margin-bottom: 20px;
	  } }

/*Big Image */
.preview-pic {
	object-fit: fill;
	width: 100%;
	height: 450px;	
	border: 1px solid #CCCCCC;
}

/* small images */
.preview-thumbnail.nav-tabs {
	border: none;
  margin-top: 15px; }
  .preview-thumbnail.nav-tabs li {
    width: 50px;
    margin-right: 2.5%; }
    .preview-thumbnail.nav-tabs li img {
	 border: 1px solid #DCDCDC;
      max-width: 100%;
      display: block; }
    .preview-thumbnail.nav-tabs li a {
      padding: 0;
      margin: 0; }
    .preview-thumbnail.nav-tabs li:last-of-type {
      margin-right: 0; }
/* content */
.tab-content {
  overflow: hidden; }
  .tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
            animation-name: opacity;
    -webkit-animation-duration: .3s;
            animation-duration: .3s; }
/* Wrapped */

#tieude{
	color: #0052F8;
	font-size: 28px;
	font-weight: bolder;
}

#status{
	color: black;
	float: right;
	margin-right: 20px;
}

#date span, #status span{
	font-weight: bold;
}


.details {
  background: #ffffff ;
  height: 45em;
  overflow-y: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }


.size {
  margin-right: 10px; }
  .size:first-of-type {
    margin-left: 40px; }

.description{
	width: 100%;
	margin-top: 10px;
	font-size: 18px;
	color: #212121;
}

.detaildes{
	color: black;
	margin-top: 10px;
	margin-bottom: 20px;
}
.detaildes-header{
	font-size: 20px;
	background: #135fab;
	color: white;
	text-align: center;
}
.detaildes ul li span{
	font-weight: bold;
}

#price{
	color: #f57224;
	font-weight: bolder;
	font-size: 25px;
}

#diproduct{
	text-decoration: line-through;
	font-size: 20px;
	margin-left: 10px;
	color: #4D4D4D;
}


#date{
	font-size: 15px;
	color: rgba(59,59,59,1.00);
}

.theodoi{
	background: #135fab;
	color: white;
	float: left;
}
.baocaobtn{
	color: white;
	float: left;
	margin-left: 10px;
	background: #FF070B;
}
.baocaobtn:hover{
	background: #FF3E40;
}
.theodoi:hover{
	background: #1672CE;
}
.userinfo{
	float: right;
}
.userinfo label{
	color: rgba(138,0,183,1.00);
	font-weight: bold;
	margin-right: 20px;
}
.imguser:hover,.userinfo label:hover{
	color: rgba(208,91,247,1.00);
}
.imguser{
	width: 50px;
	height: 50px;
	border: 1px solid rgba(148,148,148,1.00);
	border-radius: 50%;
}




.tamsubg{
	width: 100%;
	height: 40em;
	background: url(../Images/Promotion/pexels-photo-412295.jpeg);
}

.tamsu{
	width: 100%;
	height: 40em;
	background: rgba(96,44,142,0.39);
}

.tamsu textarea:disabled{
	height: 32em;
	resize: none;
	background: transparent;
	color: white;
	border: 0 none;
	outline: none;
	padding: 15px;
	font-family: 'Dancing Script', cursive;
	font-size: 20px;
	overflow-y: auto;
}

#slogan{
	width: 100%;
	height: 2em;
	background: #b3b8ff;
	font-size: 30px;
	color: white;
	text-align: center;
}

.popuppro, .baocao{
	font-family: 'IBM Plex Serif', serif;
}
.popuppro h5{
	color: #233CFF; 
	font-weight: bold; 
	font-size: 20px;
}
.popuppro label{
	color: black;
}
#popupimage{
	width: 140px;
	height: 140px;
	border: 1px solid rgba(173,173,173,1.00);
	border-radius: 50%;
}
.popuppro span{
	color: rgba(17,155,255,1.00);
}
.modal-footer .btnxem{
	width: 100%;
}

.baocao h5{
	color: #3222FF; 
	font-weight: bold; 
	font-size: 20px;
}
