/* CSS Document */

.main-contain{
	margin-top: 4.5em;
	background: url(../Images/gioi-thieu/Screen-Shot-2017-01-14-at-2.38.25-PM.png);
	color: white;
	font-family: 'Playfair Display', serif;
}



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

.main-contain .carousel {
  margin-bottom: 4rem;
	width: 100vw;
}

.carousel-inner .carousel-item .container .carousel-caption h1{
	font-size: 40px;
	color: white;
}


.main-contain .carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.main-contain .carousel-item {
  height: 35rem;
  background-color: #777;
}
.main-contain .carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 35rem;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.carousel-item .container .carousel-caption h1{
	background: rgba(0,0,0,0.39);
}

.rounded-circle{
	width: 140px;
	height:140px;
	display: block;
	margin: auto;
}

.marketing .row .col-lg-3 h2{
	text-align: center;
}

.marketing h1{
	font-size: 40px;
	font-weight: bolder;
	text-align: center; 
	color: white;
	margin-bottom: 2em;
}

.marketing .row .col-lg-3 h2{
	color: white;
	font-size: 20px;
	font-weight: bold;
}

.marketing .row .col-lg-3 p{
	font-size: 17px;
	margin-top: 10px;
}
