/* CSS Document */


/*****************globals*************/
.page{
	background: url(../Images/logon/Timber.jpg)!important;
}

.mainsection{
	background: url(../Images/Promotion/pexels-photo-412295.jpeg);
	font-family: 'Dancing Script', cursive;
}

.container-fluid{
  font-family: 'open sans';
  overflow-x: hidden; 
	color: white;
}

img {
  max-width: 100%; 	
}

.zoom{
	padding: 10px;
    transition: transform .1s;
    width: 400px;
    height: 400px;
    margin: auto auto;
}

.zoom:hover {
    transform: scale(1.5); 
}

.preview {
	height: 49em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (max-width: 600px) {
    .preview {
      margin-bottom: 20px;
	  } }

/*Big Image */
.preview-pic {
	object-fit: fill;
	width: 100%;
	height: 450px;	
}

/* small images */
.preview-thumbnail.nav-tabs {
	border: none;
  margin-top: 15px; }
  .preview-thumbnail.nav-tabs li {
    width: 50px;
    margin-right: 2.5%; }
    .preview-thumbnail.nav-tabs li img {
	 border: 1px solid #DCDCDC;
      max-width: 100%;
      display: block; }
    .preview-thumbnail.nav-tabs li a {
      padding: 0;
      margin: 0; }
    .preview-thumbnail.nav-tabs li:last-of-type {
      margin-right: 0; }
/* content */
.tab-content {
  overflow: hidden; }
  .tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
            animation-name: opacity;
    -webkit-animation-duration: .3s;
            animation-duration: .3s; }
/* Wrapped */

#tieude{
	color: white;
	font-size: 28px;
	font-weight: bolder;
}

#status{
	color: white;
	float: right;
	margin-right: 20px;
	font-family: 'IBM Plex Serif', serif;
}

#date span, #status span{
	font-weight: bold;
	font-family: 'IBM Plex Serif', serif;
}


.details {
  background: rgba(255,255,255,0.00) ;
  height: 49em;
  overflow-y: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }


.size {
  margin-right: 10px; }
  .size:first-of-type {
    margin-left: 40px; }

.description{
	width: 100%;
	margin-top: 10px;
	font-size: 18px;
	color: #212121;
}

.detaildes{
	color: white;
	margin-top: 10px;
	background: rgba(255,255,255,0.00);
	box-shadow: 
		  inset 7px 7px 12px #000000, 
		  inset -7px -7px 12px rgba(0,144,236,1.00);
}
.detaildes .list-group-item{
	background: rgba(255,255,255,0.54);
}
.detaildes-header{
	font-size: 20px;
	background: rgba(10,189,255,0.61);
	color: white;
	text-align: center;
}
.detaildes ul li span{
	font-weight: bold;
}
#tieudett{
	font-family: 'IBM Plex Serif', serif;
}
#price{
	color: #FFFFFF;
	font-weight: bolder;
	font-size: 20px;
	font-family: 'IBM Plex Serif', serif;
}
#typenews{
	font-family: 'IBM Plex Serif', serif;
}
#method{
	font-family: 'IBM Plex Serif', serif;
}
#diproduct{
	text-decoration: line-through;
	font-size: 20px;
	margin-left: 10px;
	color: #4D4D4D;
	font-family: 'IBM Plex Serif', serif;
}


#date{
	font-size: 15px;
	color: white;
	font-family: 'IBM Plex Serif', serif;
}

.theodoi{
	background: #FF36D8;
	color: white;
	float: left;
	font-family: 'IBM Plex Serif', serif;
	
}
.baocaobtn{
	color: white;
	float: left;
	margin-left: 10px;
	background: #3892FF;
	font-family: 'IBM Plex Serif', serif;
}
.baocaobtn:hover{
	background: #A901FF;
}
.theodoi:hover{
	background: #FF00CD;
}
.userinfo{
	float: right;
}
.userinfo label{
	color: white;
	font-weight: bold;
	margin-right: 20px;
}
.imguser:hover,.userinfo label:hover{
	color: wheat;
}
.imguser{
	width: 50px;
	height: 50px;
	border: 1px solid rgba(148,148,148,1.00);
	border-radius: 50%;
}




.tamsubg{
	width: 100%;
	height: 43em;
	background: url(../Images/Promotion/pexels-photo-412295.jpeg);
		box-shadow: 
		  inset 5px 5px 10px #000000, 
		  inset -5px -5px 10px rgba(0,144,236,1.00);
	background-position: center;
	background-size: cover;
}

.tamsu{
	width: 100%;
	height: 43em;
	background: rgba(96,44,142,0.39);
}

.tamsu textarea:disabled{
	height: 36em;
	resize: none;
	background: transparent;
	color: white;
	border: 0 none;
	outline: none;
	padding: 15px;
	font-family: 'Dancing Script', cursive;
	font-size: 20px;
	overflow-y: auto;
}

#slogan{
	width: 100%;
	height: 2em;
	background: rgba(210,9,255,0.52);
	font-size: 30px;
	color: white;
	text-align: center;
	box-shadow: 
		  inset 2px 2px 5px #373737, 
		  inset -5px -5px 10px rgba(90,0,236,0.45);
}

.popuppro, .baocao{
	font-family: 'IBM Plex Serif', serif;
}
.popuppro h5{
	color: #233CFF; 
	font-weight: bold; 
	font-size: 20px;
}
.popuppro label{
	color: black;
}
#popupimage{
	width: 140px;
	height: 140px;
	border: 1px solid rgba(173,173,173,1.00);
	border-radius: 50%;
}
.popuppro span{
	color: rgba(17,155,255,1.00);
}
.modal-footer .btnxem{
	width: 100%;
}

.baocao h5{
	color: #3222FF; 
	font-weight: bold; 
	font-size: 20px;
}



/* Dành cho điện thoại */
@media all and (max-width: 480px) {
	.page,.page .container-fluid,.page .container-fluid .container-fluid{
		margin: 0 !important; 
		padding: 0 !important; 
	}
	
	
	.detaildes{
		width: 100vh;
	}
	 .detaildes .detaildes-header{
		font-family: 'IBM Plex Serif', serif;
	}
	
	#slogan{
		font-size: 18px;
	}
	
	#tieude{
		margin-top: 4em;
	}
	
	.tamsubg,.tamsu{
		max-height: 40em;
	}

	.tamsu textarea:disabled{
	font-size: 17px;

}
}



