body{
	background: url(../Images/logon/JShine.jpg);
}

.choose{
	color: white;
	margin-top: 4.2em;
	font-size: 30px;
}
.choose h2{
	text-align: center;
	color: white;
	font-family: 'Arsenal', sans-serif;
}
.choose ul li a{
	color: white;
	font-family: 'Arsenal', sans-serif;
}

.main{
	margin-top: 1em;
	height: 25em;
	background: #EBEBEB;
	font-family: 'Arsenal', sans-serif;
	margin-bottom: 20px;
}

.main h2{
	font-size: 30px;
	font-weight: bolder;
	text-align: center;
	padding: 20px;
}

.tab-pane{
	color: black;
}

.tab-pane h1{
	font-size: 23px;
}

.tab-pane h3{
	font-size: 20px;
}

.tab-pane li{
	font-size: 18px;
}

.tab-pane h4{
	font-size: 21px;
}