/* CSS Document */
.container-fluid{
	margin: 0;
	padding: 0;
}
.container-fluid .main-contain{
	margin-top: 4.5em;
}

#carouselExampleFade .carousel-inner .carousel-item img{
	width: 100%;
	height: 35em;
	background-size: cover;	
}